<div class="footer">
    <div class=" align-items-md-stretch">
  
      <div class="col-md-12">
  
        <div class="h-100 p-5 text-white bg-dark ">
          <div class="payment-methods row">
            <div class="container">
              <h2 class="text-center text-pay">Ödeme Yöntemleri</h2>
  
              <div class="methods text-center">
                <img class="me-3" src="../../../assets/img/visa.png" alt="">
                <img class="me-3" src="../../../assets/img/troy.png" alt="">
                <img class="me-3" src="../../../assets/img/mc.png" alt="">
                <img class="me-3" src="../../../assets/img/amex.png" alt="">
              </div>
  
            </div>
          </div>
  
          <div class="social-medias row mt-5 text-center">
            <div class="container">
              <h2 class="text-center text-pay">Sosyal Medyalarımız</h2>
              <a href="" class="me-3"><i class="fab fa-instagram fa-2x"></i></a>
              <a href="" class="me-3"><i class="fab fa-facebook fa-2x"></i></a>
              <a href="" class="me-3"><i class="fab fa-twitter fa-2x"></i></a>
              <a href="" class="me-3"><i class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
          </div>
  
  
          <div></div>
  
        </div>
  
      </div>
    </div>
  