<app-rent></app-rent>



<div id="carouselExampleIndicators" class="carousel slide mt-5 mb-5 container " style="width: 150rem; margin: 0 auto;"
  data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/bg.jpg" class="d-block w-100" style="height: 400px; object-fit: cover;" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/test.jpg" class="d-block w-100" style="height: 400px; object-fit: cover;" alt="...">
    </div>

  </div>


</div>



<div id="section-c" class="">
 
  <div class="section-c-title text-center mb-5 ">
    <h2>Popüler Yerler</h2>
  </div>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3">
              <img src="../../../assets/img/test4.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="../../../assets/img/ankara.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="../../../assets/img/istanbul.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="../../../assets/img/izmir.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="row">
            <div class="col-md-3">
              <img src="../../../assets/img/tranzon.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="../../../assets/img/aydın.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="../../../assets/img/gaziantep.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-3">
              <img src="../../../assets/img/adana.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="containerSize container">

  <div class="contact row">
    <div class="contact-title text-center row">
      <div class="col-md-12"> <h3 class="contact-text">BİZİMLE İLETİŞİME GEÇİN</h3></div>
     
    </div>
    <hr class="mt-5" style="width: 80%;   margin-right: auto; margin-left: auto;">

    <form class="">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email Adresiniz</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Email adresin 3. kişiler ile paylaşılmaz</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Konu</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <textarea name="" style="resize: none;" class="form-control" id="" cols="30" rows="10"></textarea>

      </div>
      <button type="submit" class="btn-submit">Gönder</button>
    </form>

  </div>
  <hr class=" mb-5" style="width: 100%;   margin-right: auto; margin-left: auto;">
  <div class="description row">
    <div class="contact-title text-center">
      <h3 class="contact-text">ARAÇ KİRALAMA - KİRALA GELSİN</h3>
    </div>
    <div class="description-body mt-5">
      <div class="body-text">
        <p>Araç kiralama dünyasının global çaplı, en başarılı isimlerden biri olarak size ayrıcalıklı ve konforlu bir
          hizmet vermek için buradayız. 1912 yılında Münih'te KİRALA GELSİN rent a car kurulduktan sonra yılların
          deneyimi
          ile 1992'de Türkiye pazarına da girdik. KİRALA GELSİN Türkiye olarak; yenilikçi hamlelerimiz, güçlü teknik alt
          yapımız ve yetkin çağrı merkezimiz ile ister kısa ister uzun vadeli araç kiralayacak olanlar için üstün hizmet
          anlayışını benimsiyoruz. Şirketimiz bugün günde ortalama 1000 civarı rezervasyon alarak da sektörün talep
          edilen
          ismi olduğunu ispatlamakta. Hem bireysel hem kurumsal ihtiyaçlara yönelik olarak Türkiye'nin dört bir
          yanındaki
          kiralama noktalarımız aracılığıyla siz de KİRALA GELSİN rent a car hizmetlerinden yararlanabilirsiniz. Bir
          gün,
          bir hafta, bir ay fark etmeksizin kiralamayı düşündüğünüz hayalinizdeki aracın tadını çıkarmanız için
          sunduğumuz
          hizmetlere bir tıkla ulaşabilirsiniz. En iyi fiyat garantisi, senede iki kez yenilenen araç filosu, mil
          kazanma
          fırsatı gibi avantajlarla sunduğumuz araç filomuzu inceleyerek yolculuğunuzun tadını çıkarabilirsiniz.

        </p>
      </div>
    </div>
  </div>
  <hr class="mt-5 mb-5" style="width: 100%;   margin-right: auto; margin-left: auto;">
  <div class="branchs row">
    <div class="contact-title text-center">
      <h3 class="contact-text">KİRALA GELSİN ŞUBELER</h3>
    </div>
  </div>
  <div class="branch-body ">
    <ul class="branch-list">
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
      <li class="branch-item">
        Adana Havalimanı
      </li>
    </ul>
  </div>
  <div class="mb-5"></div>
  <hr class="margintop" style="width: 100%; margin-top: 100px;  margin-right: auto; margin-left: auto;">
  <div class="call-us">

    <div class="contact-title text-center mt-4">
      <h3 class="call-text">BİZİ ARAYIN</h3>
      <h3 class="number">0850 *** * ***</h3>
    </div>
  </div>

</div>


